body {
  background-color: black;
  color: white;
  padding: 20px;
}
.card {
  width: 300px;
  background-color: aqua;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  position: relative;
}
.heart-img{
  width: 30px !important;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.card img {
  width: 100%;
  border-radius: 10px;
}
.price {
  font-size: 20px;
}
.inner-div {
  width: 250px;
  height: 250px;
  border: 1px solid rgb(223, 110, 129);
}
.flex {
  display: flex;
}
.main-nav {
  justify-content: space-between;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0px;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(52, 38, 21);
}
.align-center {
  align-items: center;
  gap: 10px;
}
.left-nav img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.right-nav button {
  height: 30px;
  border-radius: 10px;
  background-color: bisque;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 20px;
}

.main-big-div{
  position: relative;
}
.main-big-div h1{
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0px !important;
}